stages:
  - build
  - test
  - coverage
  - docker

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  GOPRIVATE: gitlab.crja72.ru
  GO_VERSION: "1.24"
  COVERAGE_THRESHOLD: "30"

# Cache Go modules
.go-cache:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .go/pkg/mod/

# Build template
.build-template:
  stage: build
  image: golang:${GO_VERSION}-alpine
  extends: .go-cache
  before_script:
    - apk add --no-cache git
    - echo "machine gitlab.crja72.ru login gitlab-ci-token password ${CI_JOB_TOKEN}" > ~/.netrc
  script:
    - cd ${SERVICE_PATH}
    - go mod download
    - go build -o /dev/null ./...
  rules:
    - changes:
        - ${SERVICE_PATH}/**/*

# Test template
.test-template:
  stage: test
  image: golang:${GO_VERSION}-alpine
  extends: .go-cache
  before_script:
    - apk add --no-cache git
    - echo "machine gitlab.crja72.ru login gitlab-ci-token password ${CI_JOB_TOKEN}" > ~/.netrc
  script:
    - cd ${SERVICE_PATH}
    - go mod download
    - go test -v -race -coverprofile=coverage.out ./...
    - go tool cover -func=coverage.out
  artifacts:
    paths:
      - ${SERVICE_PATH}/coverage.out
    expire_in: 1 hour
  rules:
    - changes:
        - ${SERVICE_PATH}/**/*

# Coverage check template
.coverage-template:
  stage: coverage
  image: golang:${GO_VERSION}-alpine
  extends: .go-cache
  before_script:
    - apk add --no-cache git bc
    - echo "machine gitlab.crja72.ru login gitlab-ci-token password ${CI_JOB_TOKEN}" > ~/.netrc
  script:
    - cd ${SERVICE_PATH}
    - |
      if [ ! -f coverage.out ]; then
        go mod download
        go test -coverprofile=coverage.out ./...
      fi
    - |
      COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
      echo "Coverage: ${COVERAGE}%"
      echo "Threshold: ${COVERAGE_THRESHOLD}%"
      if [ $(echo "$COVERAGE < $COVERAGE_THRESHOLD" | bc -l) -eq 1 ]; then
        echo "ERROR: Coverage ${COVERAGE}% is below threshold ${COVERAGE_THRESHOLD}%"
        exit 1
      fi
      echo "SUCCESS: Coverage ${COVERAGE}% meets threshold ${COVERAGE_THRESHOLD}%"
  rules:
    - changes:
        - ${SERVICE_PATH}/**/*

# Auth Service
build:auth-service:
  extends: .build-template
  variables:
    SERVICE_PATH: services/auth-service

test:auth-service:
  extends: .test-template
  variables:
    SERVICE_PATH: services/auth-service

coverage:auth-service:
  extends: .coverage-template
  variables:
    SERVICE_PATH: services/auth-service
  needs:
    - test:auth-service

# User Service
build:user-service:
  extends: .build-template
  variables:
    SERVICE_PATH: services/user-service

test:user-service:
  extends: .test-template
  variables:
    SERVICE_PATH: services/user-service

coverage:user-service:
  extends: .coverage-template
  variables:
    SERVICE_PATH: services/user-service
  needs:
    - test:user-service

# Task Service
build:task-service:
  extends: .build-template
  variables:
    SERVICE_PATH: services/task_service

test:task-service:
  extends: .test-template
  variables:
    SERVICE_PATH: services/task_service

coverage:task-service:
  extends: .coverage-template
  variables:
    SERVICE_PATH: services/task_service
  needs:
    - test:task-service

# Group Service
build:group-service:
  extends: .build-template
  variables:
    SERVICE_PATH: services/group-service

test:group-service:
  extends: .test-template
  variables:
    SERVICE_PATH: services/group-service

coverage:group-service:
  extends: .coverage-template
  variables:
    SERVICE_PATH: services/group-service
  needs:
    - test:group-service

# API Gateway (no coverage requirement)
build:api-gateway:
  extends: .build-template
  variables:
    SERVICE_PATH: services/api-gateway

test:api-gateway:
  stage: test
  image: golang:${GO_VERSION}-alpine
  extends: .go-cache
  before_script:
    - apk add --no-cache git
    - echo "machine gitlab.crja72.ru login gitlab-ci-token password ${CI_JOB_TOKEN}" > ~/.netrc
  script:
    - cd services/api-gateway
    - go mod download
    - go test -v ./... || true
  rules:
    - changes:
        - services/api-gateway/**/*

# Docker build jobs
.docker-template:
  stage: docker
  image: docker:24-dind
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/${SERVICE_NAME}:${CI_COMMIT_SHA} -f ${DOCKERFILE_PATH} ${BUILD_CONTEXT}
    - docker push $CI_REGISTRY_IMAGE/${SERVICE_NAME}:${CI_COMMIT_SHA}
    - |
      if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        docker tag $CI_REGISTRY_IMAGE/${SERVICE_NAME}:${CI_COMMIT_SHA} $CI_REGISTRY_IMAGE/${SERVICE_NAME}:latest
        docker push $CI_REGISTRY_IMAGE/${SERVICE_NAME}:latest
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - ${SERVICE_PATH}/**/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - ${SERVICE_PATH}/**/*

docker:auth-service:
  extends: .docker-template
  variables:
    SERVICE_NAME: auth-service
    SERVICE_PATH: services/auth-service
    DOCKERFILE_PATH: services/auth-service/Dockerfile
    BUILD_CONTEXT: services/auth-service
  needs:
    - coverage:auth-service

docker:user-service:
  extends: .docker-template
  variables:
    SERVICE_NAME: user-service
    SERVICE_PATH: services/user-service
    DOCKERFILE_PATH: services/user-service/Dockerfile
    BUILD_CONTEXT: services/user-service
  needs:
    - coverage:user-service

docker:task-service:
  extends: .docker-template
  variables:
    SERVICE_NAME: task-service
    SERVICE_PATH: services/task_service
    DOCKERFILE_PATH: services/task_service/Dockerfile
    BUILD_CONTEXT: .
  needs:
    - coverage:task-service

docker:group-service:
  extends: .docker-template
  variables:
    SERVICE_NAME: group-service
    SERVICE_PATH: services/group-service
    DOCKERFILE_PATH: services/group-service/Dockerfile
    BUILD_CONTEXT: services/group-service
  needs:
    - coverage:group-service

docker:api-gateway:
  extends: .docker-template
  variables:
    SERVICE_NAME: api-gateway
    SERVICE_PATH: services/api-gateway
    DOCKERFILE_PATH: services/api-gateway/Dockerfile
    BUILD_CONTEXT: .
  needs:
    - test:api-gateway
